#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

AS_CONFIGURE_ARGS = -Dqt=true \
		-Dapt-support=true \
		-Dvapi=true

%:
	dh $@ --with gir

override_dh_auto_configure:
	dh_auto_configure -- $(AS_CONFIGURE_ARGS)

override_dh_missing:
	dh_missing --fail-missing

execute_after_dh_auto_install:
	# replace embedded highlight.js copy with a packaged one
	rm $(CURDIR)/debian/tmp/usr/share/doc/appstream/html/static/js/highlight.min.js
	ln -s /usr/share/javascript/highlight.js/highlight.min.js \
		$(CURDIR)/debian/tmp/usr/share/doc/appstream/html/static/js/highlight.min.js
