<?xml version="1.0"?>
<!DOCTYPE refentry PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
               "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd"
[
  <!ENTITY % local.common.attrib "xmlns:xi  CDATA  #FIXED 'http://www.w3.org/2003/XInclude'">
]>
<refentry id="appstream-AppstreamDistroDetails">
<refmeta>
<refentrytitle role="top_of_page" id="appstream-AppstreamDistroDetails.top_of_page">AppstreamDistroDetails</refentrytitle>
<manvolnum>3</manvolnum>
<refmiscinfo>
  APPSTREAM Library
</refmiscinfo>
</refmeta>
<refnamediv>
<refname>AppstreamDistroDetails</refname>
<refpurpose>Get details about the AppStream settings for the current distribution</refpurpose>
</refnamediv>

<refsynopsisdiv id="appstream-AppstreamDistroDetails.synopsis" role="synopsis">
<title role="synopsis.title">Synopsis</title>

<synopsis>#define             <link linkend="APPSTREAM-TYPE-DISTRO-DETAILS:CAPS">APPSTREAM_TYPE_DISTRO_DETAILS</link>
<link linkend="gchar"><returnvalue>gchar</returnvalue></link> **            <link linkend="appstream-distro-details-get-icon-repository-paths">appstream_distro_details_get_icon_repository_paths</link>
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);
<link linkend="gchar"><returnvalue>gchar</returnvalue></link> *             <link linkend="appstream-distro-details-config-distro-get-str">appstream_distro_details_config_distro_get_str</link>
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>,
                                                         <parameter>const <link linkend="gchar"><type>gchar</type></link> *key</parameter>);
<link linkend="gboolean"><returnvalue>gboolean</returnvalue></link>            <link linkend="appstream-distro-details-config-distro-get-bool">appstream_distro_details_config_distro_get_bool</link>
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>,
                                                         <parameter>const <link linkend="gchar"><type>gchar</type></link> *key</parameter>);
<link linkend="AppstreamDistroDetails"><returnvalue>AppstreamDistroDetails</returnvalue></link> * <link linkend="appstream-distro-details-new">appstream_distro_details_new</link>   (<parameter><type>void</type></parameter>);
const <link linkend="gchar"><returnvalue>gchar</returnvalue></link> *       <link linkend="appstream-distro-details-get-distro-id">appstream_distro_details_get_distro_id</link>
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);
const <link linkend="gchar"><returnvalue>gchar</returnvalue></link> *       <link linkend="appstream-distro-details-get-distro-name">appstream_distro_details_get_distro_name</link>
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);
const <link linkend="gchar"><returnvalue>gchar</returnvalue></link> *       <link linkend="appstream-distro-details-get-distro-version">appstream_distro_details_get_distro_version</link>
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);
struct              <link linkend="AppstreamDistroDetails">AppstreamDistroDetails</link>;
struct              <link linkend="AppstreamDistroDetailsClass">AppstreamDistroDetailsClass</link>;
</synopsis>
</refsynopsisdiv>

<refsect1 id="appstream-AppstreamDistroDetails.description" role="desc">
<title role="desc.title">Description</title>

</refsect1>
<refsect1 id="appstream-AppstreamDistroDetails.details" role="details">
<title role="details.title">Details</title>
<refsect2 id="APPSTREAM-TYPE-DISTRO-DETAILS:CAPS" role="macro">
<title>APPSTREAM_TYPE_DISTRO_DETAILS</title>
<indexterm zone="APPSTREAM-TYPE-DISTRO-DETAILS:CAPS"><primary sortas="TYPE_DISTRO_DETAILS">APPSTREAM_TYPE_DISTRO_DETAILS</primary></indexterm>
<programlisting>#define APPSTREAM_TYPE_DISTRO_DETAILS (appstream_distro_details_get_type ())
</programlisting>
<para>
The type for <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link>.
</para></refsect2>
<refsect2 id="appstream-distro-details-get-icon-repository-paths" role="function">
<title>appstream_distro_details_get_icon_repository_paths ()</title>
<indexterm zone="appstream-distro-details-get-icon-repository-paths"><primary sortas="distro_details_get_icon_repository_paths">appstream_distro_details_get_icon_repository_paths</primary></indexterm>
<programlisting><link linkend="gchar"><returnvalue>gchar</returnvalue></link> **            appstream_distro_details_get_icon_repository_paths
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);</programlisting>
<para>
Returns list of icon-paths for software-center applications to use. Icons of software (even if it is not installed) are stored in these locations.
</para><variablelist role="params">
<varlistentry><term><parameter>self</parameter>&#160;:</term>
<listitem><simpara>the <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> instance</simpara></listitem></varlistentry>
<varlistentry><term><emphasis>Returns</emphasis>&#160;:</term><listitem><simpara>A NULL-terminated array of paths. <emphasis role="annotation">[<acronym>array</acronym> length=result_length1]</emphasis></simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2 id="appstream-distro-details-config-distro-get-str" role="function">
<title>appstream_distro_details_config_distro_get_str ()</title>
<indexterm zone="appstream-distro-details-config-distro-get-str"><primary sortas="distro_details_config_distro_get_str">appstream_distro_details_config_distro_get_str</primary></indexterm>
<programlisting><link linkend="gchar"><returnvalue>gchar</returnvalue></link> *             appstream_distro_details_config_distro_get_str
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>,
                                                         <parameter>const <link linkend="gchar"><type>gchar</type></link> *key</parameter>);</programlisting>
<variablelist role="params">
<varlistentry><term><parameter>self</parameter>&#160;:</term>
<listitem><simpara>the <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> instance</simpara></listitem></varlistentry>
<varlistentry><term><parameter>key</parameter>&#160;:</term>
<listitem><simpara>&nbsp;</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2 id="appstream-distro-details-config-distro-get-bool" role="function">
<title>appstream_distro_details_config_distro_get_bool ()</title>
<indexterm zone="appstream-distro-details-config-distro-get-bool"><primary sortas="distro_details_config_distro_get_bool">appstream_distro_details_config_distro_get_bool</primary></indexterm>
<programlisting><link linkend="gboolean"><returnvalue>gboolean</returnvalue></link>            appstream_distro_details_config_distro_get_bool
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>,
                                                         <parameter>const <link linkend="gchar"><type>gchar</type></link> *key</parameter>);</programlisting>
<variablelist role="params">
<varlistentry><term><parameter>self</parameter>&#160;:</term>
<listitem><simpara>the <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> instance</simpara></listitem></varlistentry>
<varlistentry><term><parameter>key</parameter>&#160;:</term>
<listitem><simpara>&nbsp;</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2 id="appstream-distro-details-new" role="function">
<title>appstream_distro_details_new ()</title>
<indexterm zone="appstream-distro-details-new"><primary sortas="distro_details_new">appstream_distro_details_new</primary></indexterm>
<programlisting><link linkend="AppstreamDistroDetails"><returnvalue>AppstreamDistroDetails</returnvalue></link> * appstream_distro_details_new   (<parameter><type>void</type></parameter>);</programlisting>
</refsect2>
<refsect2 id="appstream-distro-details-get-distro-id" role="function">
<title>appstream_distro_details_get_distro_id ()</title>
<indexterm zone="appstream-distro-details-get-distro-id"><primary sortas="distro_details_get_distro_id">appstream_distro_details_get_distro_id</primary></indexterm>
<programlisting>const <link linkend="gchar"><returnvalue>gchar</returnvalue></link> *       appstream_distro_details_get_distro_id
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);</programlisting>
<para>
Get and return the current value of the <link linkend="AppstreamDistroDetails--distro-id"><type>"distro-id"</type></link> property.
</para><variablelist role="params">
<varlistentry><term><parameter>self</parameter>&#160;:</term>
<listitem><simpara>the <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> instance to query</simpara></listitem></varlistentry>
<varlistentry><term><emphasis>Returns</emphasis>&#160;:</term><listitem><simpara>the value of the <link linkend="AppstreamDistroDetails--distro-id"><type>"distro-id"</type></link> property</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2 id="appstream-distro-details-get-distro-name" role="function">
<title>appstream_distro_details_get_distro_name ()</title>
<indexterm zone="appstream-distro-details-get-distro-name"><primary sortas="distro_details_get_distro_name">appstream_distro_details_get_distro_name</primary></indexterm>
<programlisting>const <link linkend="gchar"><returnvalue>gchar</returnvalue></link> *       appstream_distro_details_get_distro_name
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);</programlisting>
<para>
Get and return the current value of the <link linkend="AppstreamDistroDetails--distro-name"><type>"distro-name"</type></link> property.
</para><variablelist role="params">
<varlistentry><term><parameter>self</parameter>&#160;:</term>
<listitem><simpara>the <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> instance to query</simpara></listitem></varlistentry>
<varlistentry><term><emphasis>Returns</emphasis>&#160;:</term><listitem><simpara>the value of the <link linkend="AppstreamDistroDetails--distro-name"><type>"distro-name"</type></link> property</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2 id="appstream-distro-details-get-distro-version" role="function">
<title>appstream_distro_details_get_distro_version ()</title>
<indexterm zone="appstream-distro-details-get-distro-version"><primary sortas="distro_details_get_distro_version">appstream_distro_details_get_distro_version</primary></indexterm>
<programlisting>const <link linkend="gchar"><returnvalue>gchar</returnvalue></link> *       appstream_distro_details_get_distro_version
                                                        (<parameter><link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> *self</parameter>);</programlisting>
<para>
Get and return the current value of the <link linkend="AppstreamDistroDetails--distro-version"><type>"distro-version"</type></link> property.
</para><variablelist role="params">
<varlistentry><term><parameter>self</parameter>&#160;:</term>
<listitem><simpara>the <link linkend="AppstreamDistroDetails"><type>AppstreamDistroDetails</type></link> instance to query</simpara></listitem></varlistentry>
<varlistentry><term><emphasis>Returns</emphasis>&#160;:</term><listitem><simpara>the value of the <link linkend="AppstreamDistroDetails--distro-version"><type>"distro-version"</type></link> property</simpara></listitem></varlistentry>
</variablelist></refsect2>
<refsect2 id="AppstreamDistroDetails" role="struct">
<title>struct AppstreamDistroDetails</title>
<indexterm zone="AppstreamDistroDetails"><primary sortas="DistroDetails">AppstreamDistroDetails</primary></indexterm>
<programlisting>struct AppstreamDistroDetails {
	GObject parent_instance;
	AppstreamDistroDetailsPrivate * priv;
};
</programlisting>
<para>
Get details about the AppStream settings for the current distribution
</para></refsect2>
<refsect2 id="AppstreamDistroDetailsClass" role="struct">
<title>struct AppstreamDistroDetailsClass</title>
<indexterm zone="AppstreamDistroDetailsClass"><primary sortas="DistroDetailsClass">AppstreamDistroDetailsClass</primary></indexterm>
<programlisting>struct AppstreamDistroDetailsClass {
	GObjectClass parent_class;
};
</programlisting>
<para>
The class structure for <link linkend="APPSTREAM-TYPE-DISTRO-DETAILS:CAPS"><literal>APPSTREAM_TYPE_DISTRO_DETAILS</literal></link>. All the fields in this structure are private and should never be accessed directly.
</para><variablelist role="struct">
<varlistentry><term><link linkend="GObjectClass"><type>GObjectClass</type></link>&#160;<structfield id="AppstreamDistroDetailsClass.parent-class">parent_class</structfield>;</term>
<listitem><simpara>the parent class structure</simpara></listitem>
</varlistentry>
</variablelist></refsect2>

</refsect1>

</refentry>
